.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.form-container {
    width: 350px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #001475;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #001475;
}

.form-group input {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #1e90ff;
    border-radius: 5px;
}

.submit-btn {
    background-color: #1e90ff;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #1c7ed6;
}

.toggle-form {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.toggle-link {
    color: #1e90ff;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
}

.toggle-link:hover {
    color: #1c7ed6;
}